<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="protected" type="System.Configuration.NameValueSectionHandler, System,Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <appSettings>
    <!-- Note: to watch traffic in Fiddler, specify explicit machine name in URL instead of localhost -->
    <add key="ServiceUrl" value="http://romani00:5600" />
    <add key="LogFilePath" value="_vitaWebLog.log" />  <!--see it in bin folder-->
    <!-- Set to true to drop/create all database objects -->
    <add key="ResetDatabase" value="false" />
    <!-- Set to true to use json-style names in serialized data. Ex: UserName property => user_name -->
    <add key="JsonStyleNames" value="false" />
  </appSettings>

  <!-- Protected section - should be encrypted in production; contains connection string to db server (possibly with credentials) so this must be encrypted.
    Also contains crypto key for configuring LoginInfo crypto channel - used for encrypting sensitive info in Login module 
    (emails, phones used for multi-factor authentication). Note that passwords are not encrypted, they are hashed using strong hashing (RFC2898)
    Notice <section..> element in <configSections..> section at the top of this file - this is necessary for handling this section.  
    For methods of encrypting config file sections see: 
      http://www.codeproject.com/Articles/877258/How-to-Encrypt-Web-config-Using-aspnet-regiis-exe
    Note: if you see a number of compiler warnings in ErrorList window (like 'Cannot find schema information for the element protected')
            - just ignore these; they go away when you close the editor window with config file. 
  -->
  <protected>
    <add key="MsSqlConnectionString" value="Data Source=.;Initial Catalog=VitaBooks;Integrated Security=True" />
    <!-- Optional - connection string for logging app. If specified, Logging app uses it for logging; otherwise uses main database -->
    <!-- We do it for MS SQL only, you can add log connection strings for other servers-->
    <add key="MsSqlLogConnectionString" value="Data Source=.;Initial Catalog=VitaBooksLogs;Integrated Security=True" />
    <!-- Login info crypto key -->
    <add key="LoginInfoCryptoKey" value="5F29E686B74F176F74AD0D0B54937F5FD9FB190173AB06C5000CC35ED5C5E49E" />
  </protected>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
