/*------------------------------------------------------------------------------
/// This file manages any customizations for the bootstrap based styles
/// to be used on this site.
//----------------------------------------------------------------------------*/
.navbar-default {
    background-image: linear-gradient(to bottom, #fff 0, lightblue 100%);
}

.navbar-left {
    background-color: lightblue;
    padding: 10px;
}

.searchbar {
    background-color: rgba(173, 216, 230, 0.34);
}

.mainContent {
    margin-top: 60px;
}

.top5 {
    margin-top: 5px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top20 {
    margin-top: 20px;
}

div.bookItem {
    background-color: #f6f6f6;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

div.bookPaginator {
    background-color: lightblue;
    padding: 15px;
}

li.bookItem {
    background-color: #f6f6f6;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

p.bookItem {
    padding-left: 5px;
}

li.indent {
    padding-left: 10px;
}

p.bookItemSmall {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

a.bookItem {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    line-height: 1.33;
    word-wrap: break-word;
    border: 1px solid transparent;
    text-decoration: none;
}

a {
    text-decoration: none;
}
input.searchCheckbox {
    margin-top: 7px;
}

hr.bookItem {
    height: 2px;
    background-color:lightgray;
    margin-left: -5px;
    padding-left: 0px;
}

.navbar-nav.navMessage {
    margin-top: 15px;
}