<!DOCTYPE html>
<div class="container-fluid" data-ng-init="get()">
  <div class="row top15 bookItem">
    <h3>{{itemForm.title}}</h3>
    <table>
      <tr>
        <td>
          <p class="bookItem">&nbsp;<img src="data:image/jpeg;base64,{{itemForm.coverImage}}" /></p>
        </td>
        <td>
          <p class="bookItem">&nbsp;&nbsp;&nbsp;</p>
        </td>
        <td>
          <p class="bookItem bookItemSmall"><b>By: </b>
            <span ng-repeat="author in itemForm.authors">{{$index > 0 ? ' and ' : ''}} {{author.FirstName}} {{author.LastName}}</span>
          </p>
          <p class="bookItem bookItemSmall"><b>Editions:</b> {{itemForm.editions}}</p>
          <p class="bookItem bookItemSmall"><b>Category:</b> {{itemForm.category}}</p>
          <p class="bookItem bookItemSmall"><b>Publisher:</b> {{itemForm.publisher.Name}} ({{itemForm.publishedOn | date: 'MM/dd/yyyy'}})</p>
          <p></p>
          <p class="bookItem">{{itemForm.description}}</p>
          <p class="bookItem">{{itemForm.abstract}}</p>
          <p class="bookItem"><b>Price:</b> {{itemForm.price | currency}}</p>
          <p class="bookItem"><a class="btn btn-default" ui-sref="cart({ bookId: itemForm.id })">Add to Cart</a></p>
        </td>
        </tr>
      </table>
  </div>
</div>