<!DOCTYPE html>
<div class="container-fluid">
    <h2>Search Books</h2>
    <div class="row top5">
        <div class="col-md-11">
            <label for="productName">Title:</label>
            <input type="text" maxlength="40" id="title" ng-model="searchQuery.title" />
            <label for="productName">Category:</label>
            <select ng-model="searchQuery.categories">
              <option value="">Any</option>
              <option value="Fiction">Fiction</option>
              <option value="Kids">Kids</option>
              <option value="Programming">Programming</option>
            </select>
            <label for="productName">Publisher:</label>
            <input type="text" maxlength="40" id="publisher" ng-model="searchQuery.publisher" />
            <label for="productName">Author:</label>
            <input type="text" maxlength="40" id="title" ng-model="searchQuery.authorLastName" />
           <a class="btn btn-default" ui-sref="search({title: searchQuery.title, categories: searchQuery.categories, maxPrice: searchQuery.maxPrice, publisher: searchQuery.publisher, publishedBefore: searchQuery.publishedBefore, publishedAfter: searchQuery.publishedAfter, authorLastName: searchQuery.authorLastName})">Search</a>
       </div>
    </div>
</div>