<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--
-->
    <!-- Server type to run in Test Explorer in Visual Studio  -->
    <add key="ServerTypeForTestExplorer" value="MsSql" />
    <add key="useStoredProcs" value="false" />
    <add key="useBatchMode" value="false" />
    <!-- Server types to run as Console app -->
    <add key="ServerTypesForConsoleRun" value="MsSql,SqlCe,MySql,Postgres,SQLite" />
    <!-- Connection strings for different server types -->
    <add key="MsSqlConnectionString" value="Data Source=.;Initial Catalog=VitaTest;Integrated Security=True" />
    <add key="SqlCeConnectionString" value="Data Source={bin}\VitaTestSqlCe.sdf" />
    <!-- empty database is part of project and is copied to bin. -->
    <add key="MySqlConnectionString" value="Server=localhost; Uid=root; Pwd=_pass; Old Guids=true" />
    <!--Note: for Postgres with windows auth, set Host to IP address, not localhost; you need to create Login Role in PG server matching your user name, pwd does not matter  -->
    <!-- or just create testuser -->
    <add key="PostgresConnectionString" value="Host=127.0.0.1;Port=5432;Database=VitaTest;Pooling=true;userid=testuser;password=pass" />
    <!-- For SQLite, ISO8601 means string format, in standard date-time form. It is actually default option. 
      Other options (ticks, UnixEpoch, etc) are not supported/tested.
      Kind = Utc is necessary, because that's the only way I found to prevent SQLite.NET from converting values to local time
      (actually shifting value by several hours)  -->
    <add key="SQLiteConnectionString" 
         value="Data Source={bin}\VitaTestSQLite.db;foreign keys=true;  DateTimeFormat=ISO8601; DateTimeKind=Utc" />
    <!-- empty database is part of project and is copied to bin. -->
    <!--Miscelaneous-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>