<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MsSqlConnectionString" value="Data Source=.;Initial Catalog=VitaOAuth;Integrated Security=True" />
    <add key="CryptoKey" value="5F29E686B74F176F74AD0D0B54937F5FD9FB190173AB06C5000CC35ED5C5E49E" />
    <!-- Base URL for Web API service that will accept redirect hit after user authorizes access on remote page. -->
    <add key="serviceURL" value="http://127.0.0.1:8081" />

  </appSettings>
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
