<!DOCTYPE html>
<div class="container-fluid" data-ng-init="getOrder()">
  <h2>My Order</h2>
  <table class="table-striped table-bordered top15">
    <tr>
      <th class="col-md-2">
        Title
      </th>
      <th class="col-md-2">
        Author
      </th>
      <th class="col-md-2">
        Unit Price
      </th>
      <th class="col-md-2">
        Quantity
      </th>
    </tr>
    <tr ng-repeat="item in itemForm.items">
      <td class="col-md-2">
        {{item.Book.Title}}
      </td>
      <td class="col-md-2">
        {{item.Book.Author}}
      </td>
      <td class="col-md-2">
        {{item.Book.Price | currency}}
      </td>
      <td class="col-md-2">
        {{item.Quantity}}
      </td>
    </tr>
  </table>
  <div class="row top15">
    <div class="col-md-6">
      <p><b>Total: </b>{{itemForm.Total | currency}}</p>
    </div>
  </div>
  <div class="row top5" ng-if="status.isError">
    <div class="col-md-12 text-danger">
      {{status.errorMessage}}
    </div>
  </div>
</div>