<!DOCTYPE html>
<div class="container-fluid" data-ng-init="init()">
	<h2>Cart</h2>
  <p ng-if="itemForm.hasCartItems == false">Your cart is empty.</p>
  <form name="inputForm" novalidate angular-validator angular-validator-submit="save()">
    <table ng-if="itemForm.hasCartItems == true" class="table-striped table-bordered top15">
      <tr>
        <th class="col-md-2">
          Title
        </th>
        <th class="col-md-2">
          Author
        </th>
        <th class="col-md-2">
          Unit Price
        </th>
        <th class="col-md-2">
          Quantity
        </th>
      </tr>
      <tr ng-repeat="item in itemForm.items">
        <td class="col-md-2">
          {{item.Book.Title}}
        </td>
        <td class="col-md-2">
          <span ng-repeat="author in item.Book.Authors">{{$index > 0 ? ' and ' : ''}} {{author.FirstName}} {{author.LastName}}</span>
        </td>
        <td class="col-md-2">
          {{item.Book.Price | currency}}
        </td>
        <td class="col-md-2">
          <input type="text" class="form-control" name="quantity" ng-model="item.Quantity" maxlength="3" ng-pattern="/^[0-9]{0,3}$/" invalid-message="'Invalid quantity.'" />
        </td>
      </tr>
    </table>
    <div class="row top15" ng-if="itemForm.hasCartItems">
      <div class="col-md-6">
        <p><b>Total: </b>{{itemForm.Total | currency}}</p>
      </div>
    </div>
    <div class="row top15" ng-if="itemForm.hasCartItems">
      <div class="col-md-6">
        <button class="btn btn-default" type="submit" ng-disabled="!inputForm.$dirty">Save</button>
      </div>
    </div>
  </form>
  <div class="row top15" ng-if="itemForm.hasCartItems">
    <div class="col-md-6">
      <a class="btn btn-default" ui-sref="order" ng-disabled="inputForm.$dirty">Order</a>
    </div>
  </div>
  <div class="row top5" ng-if="status.isError">
    <div class="col-md-12 text-danger">
      {{status.errorMessage}}
    </div>
  </div>
  <div class="row top5" ng-if="status.isSuccess">
    <div class="col-md-12">
      {{status.successMessage}}
    </div>
  </div>
</div>